<div class="five columns offset-by-one">
  <h4>Recent Articles</h4>
  
  <ul class="blog_list">
    {% for article in blog.articles limit:5 %}
      <li>
        <a href="{{ article.url }}" title="{{ article.title | escape }}">{{ article.title }}</a>
        <div class="meta">
          <span class="label">{{ article.published_at | date: "%B %d, %Y" }}</span>
        </div>
      </li>
    {% endfor %}
  </ul>
  
  {% if blog.all_tags != blank %}
    <h4>Tags</h4>
  
    <ul class="blog_list">

      {% for tag in blog.all_tags %}
        {% assign count = 0 %}
        {% for article in blog.articles %}
          {% if article.tags contains tag %}
            {% capture count %}{{ count | plus: 1 }}{% endcapture %}
          {% endif %}
        {% endfor %}    
        <li>
          <a href="{{ shop.url}}/blogs/{{ blog.handle }}/tagged/{{ tag | handleize }}" title="{{ blog.title }} tagged {{ tag | escape }}">{{ tag }}</a> <span class="label count">({{ count }})</span>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
  
</div>