{% capture buttons %}
  <span class="facebookcont"><iframe src="https://www.facebook.com/plugins/like.php?app_id=135286413216137&amp;href={{ shop.url }}{% if social-buttons == 'article' %}{{ article.url }}{% else %}{{ product.url }}{% endif %}&amp;send=false&amp;layout=button_count&amp;width=85&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:85px; height:21px;" allowTransparency="true"></iframe></span>
  <span class="twittercont"><a href="https://twitter.com/share" class="twitter-share-button" data-count="horizontal">Tweet</a><script type="text/javascript" src="//platform.twitter.com/widgets.js"></script></span>
  <span class="plusonecont" style="display:inline-block; width:70px;"><g:plusone size="medium"></g:plusone></span>
{% endcapture %}


{% if social-buttons == 'article' && settings.display_social_buttons_blog %}
  <div class="right">
    {{ buttons }}
  </div>
{% elsif social-buttons == 'global' %}  
  <div class="right">
    {{ buttons }}
  </div>
{% elsif settings.display_social_buttons %}
  <hr />
  {{ buttons }}
{% endif %}
